/*The @media tag attributes are for responsive design and better functionality on mobile devices below a width of 575 pixels*/
@media screen and (max-width: 575px) {

    .left{
        width: 50%;
        min-height: 81px;
        height: auto;
    }
    
    .right{
        width: 50%;
        min-height: 81px;
        height: auto;
    }
    
    .banner{
        display: none;
    }
}

/*Attributes of the custom banner*/
.banner{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/*This is the attributes for the div class responsible for the link to my own Step-By-Step tutorial!*/
.left{
    background-color: rgb(88, 2, 105);
    color: white;
    text-align: center;
    float: left;
    width: 45%;
    margin-left: 5%;
}

/*This is the attributes for the div class responsible for the link to the Youtube Tutorials*/
.right{
    background-color: rgb(25, 90, 8);
    color: white;
    text-align: center;
    float: left;
    width: 45%;
    margin-right: 5%;
}


/*This div simply acts as a container for the left and right div classes above*/
.middle{
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/*This is a horizontal splitter line with custom attributes*/
.main-line{
    width: 100%; 
    margin-top: 4%; 
    border: 3px solid; 
    border-color: green;
}


/*Simple attributes for a custom horizontal splitter line*/
.ul-line{
    width: 100%;  
    border: 1px solid; 
    border-color: blue;
}

/*class attributes made as the body of the entire page!*/
.body{
    background-color: rgba(17, 17, 17, 0.918);
    text-align: center;
}

/*Attributes of a custom splitter line similar to .main-line*/
.splitter-line{
    width: 100%;
    margin-top: 1%; 
    margin-bottom: 1%;
    border: 3px solid; 
    border-color: green;
}


/*These are the edited anchor tag attributes*/
a{
    color: whitesmoke;
    text-decoration: none;
}

/*This changes the color of the anchor tag's text to coral whenever hovering on it!*/
a:hover{
    color: coral;
}

/*The Email Link attributes*/
.email{
    float: left;
    text-align: center;
    width: 100%;
    text-decoration: underline;
}

/*The "Back to Main" Page Link attributes*/
.back-to-main{
    background-color: rgb(40, 130, 204);
    color: white;
    text-align: center;
    float: left;
    width: 45%;
    margin-left: 5%;
}

/*Attributes for the Citations link class*/
.citations-link{
    background-color: red;
    color: white;
    text-align: center;
    float: left;
    width: 45%;
    margin-right: 5%;
}

/*Citations Type Attributes*/
.cite{
    color: aqua
}

/*Color of the Image Citation Text*/
.imgs{
    color: chocolate;
}

.lcdclock{
    color:yellowgreen;
}

/*Color of the Video Citation Text*/
.vids{
    color: red;
}

/*Attributes for the Clear List link class*/
.clearList{
    background-color: lightgreen;
    color: white;
    text-align: center;
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

/* LCD CLOCK STYLING. CHECK CITATIONS */
.styling{
    background-color:black;
    color:lime;
    font: bold 18px MS Sans Serif;
    padding: 3px;
}

.clock{
    text-align: center;
    margin-bottom: 1%;
}